@import "./tokens.css";

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
  font-family: var(--nyx-font-family);
  font-size: var(--ifm-font-size-base);
  line-height: var(--ifm-line-height-base);
  color: var(--ifm-color-content);
  background: var(--ifm-background-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
